Import Libraries

In [89]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import cross_val_score
from sklearn.metrics import mean_absolute_error, mean_squared_error, make_scorer
%matplotlib inline

Import Data

In [90]:
data = pd.read_csv('https://raw.githubusercontent.com/DrSaadLa/MLLabs/main/data/housing.csv')

In [91]:
data.shape

(5000, 7)

In [117]:
Features=(['Avg. Area Income', 'Avg. Area House Age', 'Avg. Area Number of Rooms',
       'Avg. Area Number of Bedrooms','Area Population'])

In [118]:
housing = pd.DataFrame(data,columns = Features )
housing.head()

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population
0,79545.458574,5.682861,7.009188,4.09,23086.800503
1,79248.642455,6.002900,6.730821,3.09,40173.072174
2,61287.067179,5.865890,8.512727,5.13,36882.159400
3,63345.240046,7.188236,5.586729,3.26,34310.242831
4,59982.197226,5.040555,7.839388,4.23,26354.109472

In [119]:
prices = data['Price']

In [120]:
x = housing.values
y = prices.values

Write the Model

In [121]:
lreg = LinearRegression()

In [127]:
cv_results = cross_val_score(lreg, x, y, cv = 20)
cv_results

array([0.91271294, 0.91358214, 0.92268298, 0.91981345, 0.92131057,
       0.91257173, 0.92939625, 0.9158699 , 0.92155986, 0.90308785,
       0.9235632 , 0.9118117 , 0.9209036 , 0.91202164, 0.92936499,
       0.91912174, 0.91102372, 0.92937347, 0.90081513, 0.91032871])

In [123]:
# compute the average R^2
cv_results = cross_val_score(lreg, x, y, cv = 20)
avg_r_sq = np.mean(cv_results)
print(f"The average R^2 is: {avg_r_sq :.4f}")

The average R^2 is: 0.9170

In [124]:
# make mae scorer
mae = make_scorer(mean_absolute_error)
# perform 20-fold CV
cv_results = cross_val_score(lreg, x, y, cv = 20,scoring=mae)
print(f"{cv_results.mean():.4f}")

81443.3551

In [125]:
# make mse scorer
mse = make_scorer(mean_squared_error)
# perform 20-fold CV
cv_results = cross_val_score(lreg, x, y, cv = 20,scoring=mse)
print(cv_results.mean())

10242471987.016922